{% extends "layout.html" %}

{% block body %}
<h3>Dünden Bugüne</h3>

<p>
"2000 yılında Türkiye’nin sahibinden.com’u olmak için yola çıktık...."

Türkiye’nin ilan ve alışverişte ilk adresi sahibinden.com, 2000 yılında Aksoy Group bünyesinde hayata geçirildi. Bir e-ticaret sitesi olmanın ötesinde, ülkemizde e-ticaretin doğuşundan bugüne olan sürecin de temsilcisi olan sahibinden.com, Türkiye’nin en büyük elektronik ticaret ve ilan platformlarından birisi olma özelliğini taşıyor.

Emlak, Vasıta, Alışveriş, İş Makineleri & Sanayi, Yedek Parça-Aksesuar-Donanım & Tuning, Hizmetler, İş İlanları, Hayvanlar Âlemi, Özel Ders Verenler ve Yardımcı Arayanlar olmak üzere toplam 10 kategoride hizmet veren sahibinden.com, kullanıcılarının hayatını kolaylaştıracak ürün ve servisleriyle de ulusal ve uluslararası arenada çok sayıda ödülün sahibi oldu.

sahibinden.com ayrıca İstanbul’daki genel merkezi sahiplex ile Türkiye’nin “Yeşil Ofis” seçilen ilk e-ticaret şirketi unvanına sahip.

İşine tutkuyla bağlı profesyonel insan kaynağı, güçlü teknolojik altyapısı ve müşteri odaklı hizmet anlayışı ile sahibinden.com, kullanıcılarının hayatlarına dokunarak değer yaratmak, hayallerine ulaşmalarına aracılık etmek ve en iyi deneyimleri yaşatmak için tüm gücüyle çalışmaya devam ediyor.</p>

{% endblock body %}